

@media screen and (max-width: 700px) {
    .input {
        width: 100%; padding: 5px;
    }
}

@media screen and (min-width: 700px) and (max-width: 1200px) {
    .input {
        width: 300px; padding: 5px;
    }
}

@media screen and (min-width: 1200px) {
    .input {
        height: 30px; width: 300px; padding: 5px;
    }
}


.container {
    display: flex;
}

.input {
    border: 1px solid #000;
    box-sizing: border-box;
}