


@media screen and (max-width: 700px) {
    .container {
        flex-direction: column;
        justify-content: center; align-items: center;
        gap: 20px;
    }
}

@media screen and (min-width: 700px) {
    .container {
        justify-content: space-between; align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }
}


.container {
    display: flex;
}